.u-section-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-1 .u-group-1 {
  min-height: 481px;
  height: auto;
  margin: 13px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-table-1 {
  margin: 22px auto 60px 0;
}

.u-block-a698-56 {
  height: 46px;
}

.u-block-a698-69 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 228px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    margin-top: 219px;
    margin-right: initial;
    margin-left: initial;
  }
}